*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #222;
  font-family: "Press Start 2P", sans-serif;
}

body {
  height: 100vh;
}

:root {
  --text-color: #f1f3f5;
  --background-color: #333;
}

.game-rules-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 140rem;

  margin: 0 auto;
  color: var(--text-color);
}

.game-rules {
  font-size: 2rem;
}

.try-again {
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 1.6rem 2.2rem;
  letter-spacing: 6px;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 6rem;
}

.heading {
  color: var(--text-color);
  font-size: 5rem;
  margin-bottom: 8rem;
}

/* main */
.main {
  display: flex;
  justify-content: center;
}

.play-area {
  width: 140rem;
  height: 75rem;
  background-color: var(--background-color);

  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
}
/* Human box */

.human-box {
  background-color: var(--background-color);

  width: 50%;
  height: 100%;
  border-right: 2px solid var(--text-color);
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 1.4rem;
  margin-bottom: 3rem;
}

.box-header-ai {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 1.4rem;
  margin-bottom: 3rem;
}

.hidden {
  display: none;
}

.winner-human-box {
  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
  height: 4rem;
}
.winner-human-text {
  font-size: 4rem;
  color: var(--text-color);
}
.winner-ai-box {
  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
  height: 4rem;
}
.winner-ai-text {
  font-size: 4rem;
  color: var(--text-color);
}

.player {
  font-size: 3.5rem;
  color: var(--text-color);
}

.score {
  color: var(--text-color);

  font-size: 3.5rem;
}

.score-ai {
  color: var(--text-color);
  font-size: 3.5rem;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.select-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
}

.select-buttons button {
  cursor: pointer;
}

.rock-img {
  width: 9rem;
  height: 9rem;
}

.paper-img {
  width: 9rem;
  height: 9rem;
}

.scissors-img {
  width: 9rem;
  height: 9rem;
}

.btn {
  display: inline-block;
  font-family: inherit;

  width: 10rem;
  height: 10rem;
  border: none;
  background-color: var(--background-color);
}

.image-box {
}

.image {
  max-width: 30rem;
  max-height: 30rem;
}

.image-ai {
  max-width: 30rem;
  max-height: 30rem;
}

/* ai box */

.ai-box {
  background-color: var(--background-color);

  width: 50%;
  height: 100%;
  border-left: 2px solid var(--text-color);
}
